<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-blue-400">

    <main class="border-red-600 border-2 max-w-[1000px] mx-auto my-7 rounded-lg overflow-hidden flex flex-wrap">
        <aside class="border-black-600 border-2 flex-1 basis-[400px] relative">
          <img src="/public/images/account-login.jpg" class="z-10"/>  
          <aside class=" h-full w-full flex-1 z-20">dawdad</aside>    
        </aside>


        <aside class="border-yellow-600 border-2 flex-1 basis-[400px]">
            dakuiwbdoub
        </aside>
    </main>
</body>
</html>