<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 1000px; margin: 0 auto; border: 2px solid lightgray; border-radius: 10px;">
        <tr>
            <td style="padding: 10px; margin-top: 20px;">
                <img width="60" height="60" style="margin-left: 20px;" src="https://img.icons8.com/ios/100/sign-up.png" alt="sign-up"/>
                <hr style="border: 1px solid black; margin: 0;">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="padding: 10px;">
                            <p style="margin: 0; font-family: 'Times New Roman', Times, serif;">
                                Join us and sign your contracts in minutes....
                            </p>
                            <h1 style="margin: 0; font-family: 'Times New Roman', Times, serif;">
                                Wellcome to contract-r
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding: 10px;">
                            <a href="{{invitationLink}}" style="text-decoration: none; color: white; background: black; padding: 10px 20px; border-radius: 10px;">
                                Create account
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="padding: 10px; width: 100%;">
                            <img style="width: 100%; height: auto; display: block;" src="https://source.unsplash.com/person-writing-on-white-paper-wB9iWZKwljw" alt="Logo image for the email...">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; background: whitesmoke; border-radius: 10px;">

                            <!-- Adjust widths based on screen size -->
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding: 10px; width: 100%;">
                                        <h2 style="margin-top: 0;">Wellcome mr: <span>{{clientName}}</span></h2>
                                        <p>{{content}}</p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
